<!DOCTYPE html>
    <html lang="fr">
    <head>
        <title>Inscription</title>
    </head>

    <body>
    <!-- <form action="../Controller/SignUp.php" method="post">-->

            <label>Email:<input type="text" name="email"></label><br>
            <label>Mot de passe:<input type="password" name="password"></label><br>
            <label>Confirmer le mot de passe:<input type="password" name="password2"></label><br>
            <input type="submit" value="Inscription">
            <a href="connexion.html">J'ai déjà un compte</a>
        </form>
    </body>
</html>